.home{
    display: flex;
    flex-direction: column;
}


.pagination {
    margin: auto;
    margin-bottom: 80px;
}

.paginate {
    text-decoration: none;
    color: #888;
}

.paginate:hover {
    color: #000;
    font-weight: bold;
}

.search {
    font-size: 18px;
    padding: 12px 20px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    width: 80%;
    margin: 16px 50px 40px 0px;
}