.home{
    display: flex;
    flex-direction: column;
}


.pagination {
    margin: auto;
    margin-bottom: 80px;
}

.paginate {
    text-decoration: none;
    color: #888;
}

.paginate:hover {
    color: #000;
    font-weight: bold;
}