.answer {
	padding-top: 50px;
	position: relative;
	margin-bottom: 20px;
}

.answer .answerTitle { 
	margin-bottom: 16px;
	font-size: 24px;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.answerImg {
	margin-left: 32px;
	width: 70vw;
	height: 250px;
	border-radius: 10px;
	object-fit: cover;
}

.singleAnswer {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 4px;
	position: relative;
	padding-left: 28px;
}

.singleAnswerDesc {
	color: #666;
	font-size: 18px;
	white-space: pre-line;
}

.singleAnswerInfo {
	padding-top: 20px;
	margin-bottom: 4px;
}

.singleAnswerInfo .singlePostAuthor {
	font-size: 14px;
	color: #888;
}

.singleAnswerImg {
	height: 120px;
	border-radius: 5px;
	object-fit: cover;

}

.writeForm {
	position: relative;
}

.answerFormGroup {
	display: flex;
	align-items: flex-start;
}

.writeIcon {
	margin-top: 20px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid;
	display: flex;
	font-size: 20px;
	color: rgb(121, 118, 118);
	cursor: pointer;
	padding: 4px;
}

.askInput {
	font-size: 20px;
	border: none;
	padding: 20px;
	width: 70vw;
}

.askInput:focus {
	outline: none;
}

.answerText {
	font-size: 20px;
	height: 80px;
}

.answerSubmit {
	position: absolute;
	top: 12px;
	right: 0px;
	color: white;
	background-color: teal;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}

.answer .accept {
	position: absolute;
	cursor: pointer;
	left: 0px;
	top: 20px;
	font-size: 20px;
	color: #888;
}

.singleAnswer .accept i {
	display: none;
}

.singleAnswer.accepted .accept i {
	display: block;
	color: rgb(30, 184, 30);
	pointer-events: none;
}

.singleAnswer:hover .accept i {
	display: block;
}

.singleAnswer .accept_string {
	color: rgb(30, 184, 30);
}